:root  {
  --color-white-bg: #ffffff;
  --color-grey-container: #f6f2f7;
  --color-grey-border: #cecccc;
  --color-pink-main: #eb8dcf;
  --color-pink-pastel: #fcd8e6;
  --color-blue-degradado: #277ff930;
  --color-txt: #000000;
}