:root  {
  --color-white-bg: #ffffff;
  --color-grey-container: #fcf9fd;
  --color-grey-border: #E1E1E1;
  --color-pink-main: #eb8dcf;
  --color-pink-pastel: #fcd8e6;
  --color-blue-degradado: #277ff930;
  --color-txt: #000000;
}